<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/prettyPhoto.css" rel="stylesheet">
  <link href="css/price-range.css" rel="stylesheet">
  <link href="css/animate.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="js/magazines.js"></script>
</head>
<style>
  body    { padding-top:50px; }
</style>
<body class="container" ng-app="myApp" ng-controller="MainCtrl">

<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid" style="background-color:green;">
      <div class="navbar-header" >
		<ul class="nav navbar-nav">
        <li><img src="images/gallery/library2.jpg" alt="Apparels"  width="300%" height="50%"></li>
	  </ul>
      </div>
    </div>
  </nav>
</header>

<main>

	<div class="container">
      <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="images/gallery/book4.jpg" alt="Jelly" style="width:100%">
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="images/gallery/book5.jpg" alt="Jelly" style="width:100%">
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="images/gallery/book6.jpg" alt="Jelly" style="width:100%">
      </div>
    </div>
  </div>
                        <form  method="post" action="/adminhome2">
                            <button type="submit" class="btn btn-default" >Home</button>
                        </form>

<div class="row">
  <div class="signup-form">
  <form  method="post" action="/addproduct">
    <h1>Manage Magazines and Journals details</h1>
<input type="text"  name="issn" id="issn" placeholder="ISSN Code" required value="" />
<input type="text"  name="title" id="title" placeholder="Book title" required value="" />
<input type="text"  name="editor" id="editor" placeholder="editor" required value="" />
<select class="browser-default custom-select" id="publisher" name="publisher">
  <option selected>Select Publisher</option>
  <option value="himalaya">Himalaya Publishing House</option>
  <option value="pearson">Pearson Publishers</option>
  <option value="subhas">Subhas Stores</option>
  <option value="skyward">Skyward Publishers</option>
  <option value="oxford">Oxford Group</option>
    <option value="others">Other Groups</option>
</select>
<input type="text"  name="price" id="price" placeholder="Price" onkeydown="return (event.keyCode > 47 && event.keyCode < 58) || (event.keyCode == 8) 
|| (event.keyCode == 9)" required value="" />
<input type="text"  name="discount" id="discount" placeholder="Discount" onkeydown="return (event.keyCode > 47 && event.keyCode < 58) || (event.keyCode == 8) 
|| (event.keyCode == 9)" required value="" />


        <button type="button" class="btn btn-default" ng-click="submitData()" >Submit Data</button>
        
        <input type="text"  name="getissn" id="getissn" placeholder="Enter ISSN Code" required value="" />
        <button type="button" class="btn btn-default" ng-click="getData()" >Get Magazine</button>
        <button type="button" class="btn btn-default" ng-click="updateData()" >Update Magazine</button>
        <button type="button" class="btn btn-default" ng-click="deleteData()" >Delete Magazine</button>

  </form>
</div>
</div>

</div>

</main>
</body>
</html>
