<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/prettyPhoto.css" rel="stylesheet">
  <link href="css/price-range.css" rel="stylesheet">
  <link href="css/animate.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="js/usermagazines.js"></script>
</head>
<style>
  body    { padding-top:50px; background-color: lavender;}
</style>
<body class="container" ng-app="myApp" ng-controller="MainCtrl">

<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid" style="background-color:green;">
      <div class="navbar-header" >
		<ul class="nav navbar-nav">
        <li><img src="images/gallery/library6.jpg" alt="Apparels"  width="300%" height="50%"></li>
	  </ul>
      </div>
    </div>
  </nav>
</header>

<main>

	<div class="container">
      <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="images/gallery/book1.jpg" alt="Jelly" style="width:100%">
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="images/gallery/book2.jpg" alt="Jelly" style="width:100%">
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="images/gallery/book3.jpg" alt="Jelly" style="width:100%">
      </div>
    </div>
  </div>
<div class="row">
                        <form  method="post" action="/userhome2">
                            <button type="submit" class="btn btn-default" >Home</button>
                        </form>
</div>
<div class="row">

<div class="row">
  <form  method="post" action="/billing" ng-submit="store()">

<div class="col-sm-2">
<button type="button" class="btn btn-default" ng-click="getDataBook()" >Get Magazine Details</button>

<label>Bill No.</label>
<input type="text" name="billno" id="billno" placeholder="Bill No" required value="" />

<option selected> Select Book Code </option>
<select class="brower-default custom-select" ng-model="bookcode" ng-change="add(bookcode)">
<option ng-repeat="book in books" value="{{$index+1}}">{{book.issn}} </option>
</select>

</div>

<div class="col-sm-10">
  <div class="btn btn-group">
<label>Enter Delivery Details</label>
    Name: <input type="text" name="delname" id="delname" placeholder="Delivery Name" required value="" />
    Address: <input type="text" name="deladd" id="deladd" placeholder="Delivery Address" required value="" />
    Phone: <input type="text" name="delphone" id="delphone" placeholder="Delivery Phone" required value="" />
        <br>    

    <input type="text" name="issn" id="issn" placeholder=" ISSN Code" required value="" />
    <input type="text" name="title" id="title" placeholder=" Name" required value="" />
    <input type="text" name="editor" id="editor" placeholder=" Type" required value="" />
    <input type="text" name="price" id="price" placeholder=" Price" required value="" />
    <input type="number" name="quantity" id="quantity" placeholder=" Quantity" required value="" />
    <input type="number" name="discount" id="discount" placeholder="Discount" required value="" ng-change="calculate()"  />   
  </div>        
  
<div class="row" align="center">
<button type="button" class="btn btn-default" ng-click="calculate()" >Total</button>
<input type="number" name="total" id="total" placeholder="Total Amount" required value="" />
<button type="button" class="btn btn-default" ng-click="addBook()" >Select</button>

</div>

<div class="col-md-8" align="center">
<table class="table table-striped">
<thead>

<tr>
<th>ISBN</th>
<th>Title</th>
<th>Author</th>
<th>Price</th>
<th>Quantity</th>
<th>Discount</th>
<th>Total</th>
<th>Del Name</th>
<th>Delivery Address</th>
<th>Del Phone</th>

</tr>
</thead>
<tbody>
<tr mdbTableCol ng-repeat="book in addBooks">
<td>{{book.isbn}}</td>
<td>{{book.title}}</td>
<td>{{book.author}}</td>
<td>{{book.price}}</td>
<td>{{book.quantity}}</td>
<td>{{book.discount}}</td>
<td>{{book.total}}</td>
<td>{{book.delname}}</td>
<td>{{book.deladd}}</td>
<td>{{book.delphone}}</td>

</tr>
</tbody>
</table>
</div>

<button type="button" class="btn btn-default" ng-click="order()" >Place Order</button>

	</form>
      </div>


</main>
</body>
</html>
