<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="css/prettyPhoto.css" rel="stylesheet">
        <link href="css/price-range.css" rel="stylesheet">
        <link href="css/animate.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">
        <link href="css/responsive.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="js/payment.js"></script>
    </head>
    <style>
  body    { padding-top:50px; }
    </style>
    <body class="container" ng-app="myApp" ng-controller="MainCtrl">
        <header>
            <nav class="navbar navbar-default">
                <div class="container-fluid" style="background-color:green;  width: 100%;">
                    <div class="navbar-header">
                        <ul class="nav navbar-nav">
                            <li>
                                <img
                                    src="images/apparels/bookheader.jpg"
                                    alt="Logo"
                                    width="200%"
                                    height="25%"
                                >
                            </li>
                            <li>
                                <img
                                    src="images/apparels/bookheader2.jpg"
                                    alt="Apparels"
                                    width="200%"
                                    height="25%"
                                >
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <div class="container" ng-init="getData()">
                <div class="row">
                    <div class="col-lg-8" style="background-color:lavender;  width: 100%;">
                        <form method="post" action="/makePayment" ng-submit=makePayment()>
                            <textarea   style="display:none" id="text" name="text" > <%=products%> </textarea>
                            <input
                                type="hidden"
                                id="products"
                                name="products"
                                value="nothing"
                            >
                            <input
                                type="hidden"
                                id="totalAmount"
                                name="totalAmount"
                                value="nothing"
                            >
                            <div class="features_items">
                                <!--features_items-->
                                <h2 class="title text-center">Sales Details</h2>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Code</th>
                                                <th>Price</th>
                                                <th>Name</th>
                                                <th>Quantity</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="prodToAdd in prodsSold  track by $index">
                                                <td>{{prodToAdd.isbn || prodToAdd.issn}}</td>
                                                <td>{{prodToAdd.price}}</td>
                                                <td>{{prodToAdd.title}}</td>    
                                                <td>{{prodToAdd.quantity}}</td>
                                                <td>{{prodToAdd.quantity * prodToAdd.price}}</td>
                                            </tr>
                                            <!-- <tr rowspan="5">
                                                Total Amount: {{prodsSold.quantity * prodsSold.price}}
                                            </tr> -->
                                        </tbody>
                                    </table>
                                </div>
                                <div class="features_items">
                                    <!--features_items-->
                                    <!-- <h2 class="title text-center">Total Amount: {{totalAmount}}</h2> -->
                                    <h3 class="title text-center">Enter Card Details:</h3>
                                    <div class="col-lg-4" style="background-color:lavender; display: flex; flex-direction: column; padding-top: 10px;">
                                        <input
                                            type="text"
                                            name="fname"
                                            id="fname"
                                            placeholder="Enter card holders name"
                                            required
                                            value=""
                                            onkeydown="return (event.keyCode > 64 &&
event.keyCode < 91) || (event.keyCode > 96 && event.keyCode < 123) || (event.keyCode == 8) || (event.keyCode == 9) || (event.keyCode == 32)"
                                        >
                                        <input
                                            type="text"
                                            name="cardno"
                                            id="cardno"
                                            placeholder="Enter card no"
                                            onkeydown="return (event.keyCode > 47 && event.keyCode < 58) || (event.keyCode == 8) 
|| (event.keyCode == 9)"
                                            maxlength="10"
                                            required
                                            value=""
                                        >
                                        <input
                                            type="text"
                                            name="cardcvc"
                                            id="cardcvc"
                                            placeholder="Enter cvc code"
                                            onkeydown="return (event.keyCode > 47 && event.keyCode < 58) || (event.keyCode == 8) 
|| (event.keyCode == 9)"
                                            maxlength="3"
                                            required
                                            value=""
                                        >
                                    </div>
                                    <div class="col-lg-4" style="background-color:lavender;">
                                        <label for="month">Select Expiry Month</label>
                                        <select ng-model="month" name="month" id="month">
                                            <option ng-repeat="m in months" value="{{m}}">{{m}}</option>
                                        </select>
                                        <label for="year">Select Expiry Year</label>
                                        <select ng-model="year" name="year" id="year">
                                            <option ng-repeat="y in years" value="{{y}}">{{y}}</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4" style="background-color:lavender;">
                                        <button type="submit" class="btn btn-primary btn-block">Make Payment</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </main>
        </body>
    </html>
