<html>
    <head>
        <title>
            Online Book Store
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
        <link href="css/adminhome.css" rel="stylesheet">
    </head>
    <body class="container">
        <main>
            <div class="mystyle">
                <h2 style="color:white">
                    <i class="far fa-bell" style="font-size:24px"></i>
                    <b> Latest Publications</b>
                </h2>
            </div>
            <div class="blog_posts">
                <marquee direction="up" scrolldelay="300">
                    <table>
                        <tr>
                            <td>
                                <div class="blog_desc">
                                    <div class="blog_heading">
                                        <span style="font-weight:bold">
                                            <b>Himalaya Publishing House</b>
                                            <p style="color:red">
                                                <i>Himalya Publishing House announces its publishing wing for next pubications involving 61,902 participants has found a place in International Book Publishing  as the largest such drive on a single day
                                                </p>
                                            </span>
                                        </i>
                                    </div>
                                    <br>
                                    <span style="font-weight:bold">
                                        <b>Pearson Publication: Pearson Publication new series of sci fi books</b>
                                        <p style="color:red">
                                            <i>While the overall number of publication in International publications has grown over the years, Pearson constitute more than 30% only. Pearson announces a new seires of publications to cover over 50% of the publication in the international market.
                                            </p>
                                        </span>
                                    </i>
                                </div>
                            </td>
                        </tr>
                    </table>
                </marquee>
            </div>
        </div>
        <div class="mystyle">
            <b>
                <h1 style="color:white" "font-size:24px"> Home Page</h1>
            </b>
        </div>
        <div class="login-form">
            <!--login form-->
            <ul>
                <form method="post" action="/userbook">
                    <button type="submit">Purchase Books</button>
                </form>
                <form method="post" action="/usermagazines">
                    <button type="submit">Purchase Magazines</button>
                </form>
                <form method="get" action="/">
                    <button type="submit">Logout</button>
                </form>
            </ul>
        </div>
    </div>
</div>
</main>
</body>
</html>
